@keyframes fade-in {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: minha-font;
    src: url("font/Quirky\ Jingle.ttf");
}

body {
    background: linear-gradient(to  bottom, rgb(235, 27, 200), rgb(48, 4, 54)) no-repeat fixed;
    animation: fade-in 3s;
}

header {
    width: auto;
    font-family: 'Times New Roman', Times, serif;
}

section{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: minha-font;
    font-size: 36pt;
}

label {
    font-size: 20px;
}

input, select {
    margin-bottom: 30px;
}

button {
    font-size: 25px;
    background-color: rgb(43, 226, 119);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

footer a {
    margin-right: 20px;
    font-size: 20px;
}

#menu {
    background: rgb(149, 103, 255);
    width: 100px;
    color: black;
    border-radius: 20px 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#menu li {
    margin-top: 10px;
}

#menu li a {
    color: black;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    padding: 3px;
}

#menu li a:hover {
    background-color: rgb(221, 167, 96);
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}