body {
    background: linear-gradient(to bottom, rgb(143, 143, 143), rgb(46, 46, 46)) fixed;
}

menu {
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 60px;
}

section {
    text-align: center;
    background: linear-gradient(to bottom, rgb(7, 185, 7), rgb(22, 87, 3)) ;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    border-radius: 50px 0px;
    box-shadow: black 0px 0px 20px 10px;
}

footer {
    text-align: center;
    color: rgb(111, 255, 255);
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(255, 246, 127);
    font-size: 50px;
}



#menu {
    background-color: rgba(222, 184, 135, 0.575);
    width: 100px;
    color: black;
    border-radius: 20px 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#menu li {
    margin-top: 10px;
}

#menu li a {
    color: black;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 5px;
    padding: 3px;
}

#menu li a:hover {
    background-color: rgb(221, 167, 96);
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}